

*{
    background-color: rgb(218, 224, 241);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: red;
}


.container{
    display: flex;
    flex-direction: row;

}

.navbar{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-items: center;

}

.btn{
    height: 40px;
    width: 120px;
    background-color: red;
    color: #ffff;
    border: 1px, solid red;
    border-radius: 16px;
}